@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: white;
    color: black;
    font-family: "Space Grotesk", sans-serif;
}

.main {
    margin-top: 70px;
}
.contenedorNav{
    display: flex;
    width: 100%;
    justify-content: center;
}

.navbar {
    margin-bottom: -3rem;
    width: 75%;
    display: flex;
    background-color: white;
    padding: 1rem;
    z-index: 100;
}

.navbar-collapse {
    align-items: center;
    justify-content: space-between;
}

.nav-link {
    font-family: "Space Grotesk", sans-serif;
    color: black;
    margin-right: 20px;
    transition: color 0.3s;
    position: relative;
}
.nav-link::before {  
    transform: scaleX(0);
    transform-origin: bottom right;
}
  
.nav-link:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
}
  
.nav-link::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    inset: 0 0 0 0;
    background-color: #F1C65E;
    z-index: -1;
    transition: transform .3s ease;
}

.contact-button {
    border: 1px solid black;
    border-radius: 0.813rem;
    background-color: transparent;
    width: 13.7rem;
    height: 3.5rem;
    transition: 1s;
    margin-top: -7px;
}
.contact-button:hover {
    background-color: #F1C65E;
}

.MainText, .MainParagraf {
    width: 38.1rem;
}
.MainText {
    font-size: 3.75rem;
}
.MainParagraf {
    color: #000;
    font-size: 1.25rem;
}
.main-button {
    width: 17.2rem;
    height: 4.3rem;
    border-radius: 14px;
    outline: none;
    border: 0px solid;
    background-color: #191A23;
    color: white;
    font-size: 1.2rem;
    transition: 0.4s;
}
.main-button:hover {
    box-shadow: 0px 5px 0px #F1C65E;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.qsy {
    justify-content: center;
    align-items: center;
    width: 70%;
    padding: 10px;
}

.contenedorVideoMain {
    width: auto;
}
.brandsShow {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.brand1 {
    margin-right: 90px;
}
.remarcado {
    background-color: #F1C65E;
    padding: 2px;
}
.remarcado1 {
    background-color: #F1C65E;
    padding: 5px;
    border-radius: 10px;
}
.remarcado2 {
    background-color: #ffffff;
    padding: 5px;
    border-radius: 10px;
}
.texto span {
    color: #000;
    font-size: 40px;
    font-weight: 500;
}
.texto {
    display: flex;
    align-items: center;
    margin-bottom: 3rem;
}
.texto p {
    margin-top: 10px;
    margin-left: 20px;
}
.contenedorServicios {
    width: 80%;
}
.services {
    margin-top: 10rem;
}

.tarjetaServices {
    padding: 20px;
    width: 39rem;
    height: 20rem;
    border-radius: 45px;
    border: 1px solid #191A23;
    box-shadow: 0px 5px 0px 0px #191A23;
    margin-bottom: 2.5rem;
}

.gris {
    background-color: #F3F3F3;
}
.preto {
    background-color: #191A23;
}
.amarillo {
    background-color: #F1C65E;
}
.flecha-negra {
    color: #F1C65E;
    font-size: 20px;
}
.flecha-blanca {
    color: #000;
    font-size: 20px;
}
.flecha-blanca-fondo {
    background-color: white;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}
.flecha-negra-fondo {
    background-color: #191A23;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}
.textoC span {
    font-size: 1.9rem;
}
.textoC {
    width: 65%;
}
.imagen {
    width: 35%;
}
.imagen img {
    margin-top: 3rem;
    margin-left: -1rem;
}
.leermas {
    margin-top: 8rem;
}
.textoC span {
    margin-top: 20rem;
}
.leermas .flecha-blanca-fondo {
    margin-right: 10px;
    margin-top: -2px;
}
.leermas .flecha-negra-fondo {
    margin-right: 10px;
    margin-top: -2px;
}
.tarjetaServices .textoC {
    margin-top: 1rem;
    margin-left: 0.5rem;
}

.contenedorComenzar {
    padding: 40px;
    width: 80%;
    background-color: #F3F3F3;
    height: 22rem;
    border-radius: 2.813rem;
}
.textoComenzar {
    width: 55%;
}
.imagenComenzar {
    width: 45%;
}
.imagenComenzar img {
    margin-left: 5rem;
    margin-top: -1.5rem;
}
.h1Comenzar {
    font-weight: 500;
    margin-bottom: 15px;
}
.botonComenzar {
    width: 18rem;
    height: 4.3rem;
    outline: none;
    border: 0px solid;
    background-color: #191A23;
    color: white;
    border-radius: 15px;
    margin-top: 10px;
}

.middleComenzarLaborare {
    margin-top: 10rem;
}
.contenedor-elegirnos {
    width: 80%;
}
.contenedorPorque {
    background-color: #191A23;
    border-radius: 2.813rem;
    color: white;
    padding: 60px;
}
.texto h5 {
    font-size: 1.125rem;
    font-weight: 400;
}
.col a {
    text-decoration: none;
    color: #F1C65E;
    margin-right: 10px;
    margin-bottom: 5px;
}
.elegirnos {
    margin-top: 150px;
}

.process-cards {
    width: 100%;
    height: 10rem;
    padding: 40px 60px;
    justify-content: flex-start;
    align-items: center;
    background-color: #F3F3F3;
    margin-bottom: 1.875rem;
    border-radius: 45px;
    border: 1px solid #191A23;
    box-shadow: 0px 5px 0px 0px #191A23;
    transition: 1s;
}
.textomain {
    align-items: center;
    transition: 1s;
}
.textomain h1 {
    font-size: 3.75rem;
    margin-right: 1rem;
}
.textomain h3 {
    width: 10rem;
    font-size: 1.875rem;
}
.botonProceso {
    position: relative;
    left: 55rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    outline: none;
    border: 1px solid #191A23;
    background-color: transparent;
    border-radius: 50px;
    transition: 1s;
}
.botonProceso i {
    font-size: 2.5rem;
}
.selected {
    background-color: #F1C65E;
    height: 17.5rem;
}
.parrafoEscondido {
    font-size: 1.25rem;
    font-weight: 400;
    margin-top: 6rem;
    margin-left: -19rem;
    width: 100%;
    transition: 1s;
    border-top: 1px solid #191A23;
}
.parrafoEscondido p {
    margin-top: 1rem;
}
.acomodarTextoProceso {
    position: relative;
    top: -3rem;
    transition: 1s;
}
.proceso {
    margin-top: 150px;
}

.contenedorcontacto {
    width: 80%;
}
.contact {
    margin-top: 150px;
}

.contPrinForm {
    height: 48.313rem;
    width: 100%;
    background-color: #F3F3F3;
    border-radius: 45px;
    padding: 60px 100px 80px 100px;
    overflow: hidden;
}
.ruedaImgContact {
    position: relative;
    right: -35rem;
    bottom: 37.5rem;
    z-index: 5;
    animation: girar 25s infinite linear;
}

.imagenContact {
    display: flex;
    align-items: center;
}

.imgContactEstrellas {
    position: relative;
    z-index: 6;
    right: -52rem;
    bottom: 35.5rem;
    animation: bounce 2s infinite linear;
}
.comenzarSectionImg {
    animation: bounce 5s infinite linear;
}
.formularioContacto {
    flex-direction: column;
    z-index: 10;
}
.formularioContacto input, textarea {
    width: 34.75rem;
    outline: none;
    padding: 18px 30px;
    border-radius: 14px;
    border: 1px solid #000;
}
.formularioContacto input {
    height: 3.75rem;
    margin-bottom: 0.5rem;
}
.formularioContacto textarea {
    height: 11.875rem;
    resize: none;
}
.form {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.botonSub {
    margin-top: 2.5rem;
    border: 0px solid;
    border-radius: 14px;
    background-color: #191A23;
    color: white;
    transition: 1s;
}
.botonSub:hover {
    box-shadow: 0px 5px 0px #F1C65E;
}
.selectTypeOfSend {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}
.selectTypeOfSend input {
    width: 1.75rem;
    height: 1.75rem;
    border-radius: 50%;
    -webkit-appearance: none;
    appearance: none;
    border: 1px solid #000;
    cursor: pointer;
    position: relative;
}
.selectTypeOfSend h4 {
    margin-top: 0.3rem;
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 1.125rem;
    font-weight: 400;
}

.selectTypeOfSend input:checked::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1rem;
    height: 1rem;
    background-color: #f2c94c;
    border-radius: 50%;
    transition: 0.5s;
}

.creditos {
    font-size: 0.8rem;
    text-decoration: none;
}

@keyframes girar {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
        animation-timing-function: ease-in;
    }
    50% {
        transform: translateY(-20px);
        animation-timing-function: ease-in-out;
    }
}

/* MEDIA QUERIES */
/* Para pantallas mayores a 1200px */
@media (min-width: 1200px) {

}
  
/* Para pantallas menores a 1200px */
@media (max-width: 1200px) {

}
  
/* Para pantallas menores a 992px (tablets en vertical) */
@media (max-width: 992px) {

}
  
/* Para pantallas menores a 768px (teléfonos grandes y tablets pequeñas) */
@media (max-width: 768px) {

}

/* Para pantallas menores a 576px (teléfonos pequeños) */
@media (max-width: 576px) {
    .imgMain{
        display: none;
    }
    .MainText{
        text-align: center;
    }
    .MainParagraf{
        text-align: center;
    }
    .main-button{
        justify-content: center;
        align-items: center;
    }
    .qsy, .main{
        justify-content: center;
        align-items: center;
    }
    .botonProceso{
        margin-left: -41rem;
    }
    .comenzarSectionImg{
        display: none;
    }
    .contenedorComenzar{
        width: 40rem;
    }
    .middleComenzarLaborare{
        justify-content: center;
        align-items: center;
        width: 72vh;
        margin-top: 4rem;
    }
    .textoComenzar{
        width: 500vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .textoComenzar p{
        margin-top: 2rem;
        margin-bottom: 2rem;
        text-align: center;
    }
    .h1Comenzar{
        margin: 0px;
    }
    .contenedorPorque{
        width: 63.5vh;
    }
    .proceso{
        width: 65vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 2.5rem;
    }
}
